* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 1rem;
}

#main-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.75rem;
  position: relative;
  border-radius: 7.5px;
}

#main-nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Hide nested ul by default */
#main-nav ul li ul {
  display: none;
}

#main-nav ul li:hover {
  cursor: pointer;
  background: teal;
  color: white;
}

#main-nav ul li:hover a {
  color: white;
}

/* Show nested dropdown */
#main-nav ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#main-nav ul li:hover ul li {
  display: block;
  background: rgb(235, 234, 234);
  color: black;
  margin: 0.1rem;
}

#main-nav ul li:hover ul li a {
  color: #333;
}

#main-nav ul li:hover ul li:hover {
  background: #e0e0e0;
}

.right-menu {
  float: right;
}

/* showcase */
#showcase {
  padding: 0.75rem 0 0.75rem 0;
}

#showcase img {
  width: 100%;
  object-fit: cover;
  height: 450px;
  border-radius: 7.5px;
  z-index: -1;
}

.showcase-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}

.showcase-buttons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-buttons button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 7.5px;
  padding: 0.75rem 1.75rem;
  font-size: 18px;
  color: white;
  border: none;
}

.showcase-buttons button:hover {
  color: teal;
  background: white;
}
