* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 1rem;
}

#main-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.75rem;
  position: relative;
  border-radius: 8px;
}

#main-nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Hide nested ul by default */
#main-nav ul li ul {
  display: none;
}

#main-nav ul li:hover {
  cursor: pointer;
  background: teal;
  color: white;
}

#main-nav ul li:hover a {
  color: white;
}

/* Show nested dropdown */
#main-nav ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 0.8rem;
}

#main-nav ul li:hover ul li {
  display: block;
  background: rgb(235, 234, 234);
  color: #333;
  border-radius: 1px;
  /* margin: 0.1rem; */
  z-index: 1;
}

#main-nav ul li:hover ul li:first-child {
  border-radius: 8px 8px 0 0;
}

#main-nav ul li:hover ul li:last-child {
  border-radius: 0 0 8px 8px;
}

#main-nav ul li:hover ul li a {
  color: #333;
}

#main-nav ul li:hover ul li:hover {
  background: #e0e0e0;
}

.right-menu {
  float: right;
}

/* showcase */
#showcase {
  padding: 0.75rem 0 0.75rem 0;
}

#showcase img {
  width: 100%;
  object-fit: cover;
  height: 450px;
  border-radius: 8px;
  filter: brightness(70%);
  z-index: -1;
}

.showcase-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}

.showcase-buttons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-buttons button {
  cursor: pointer;
  background: rgba(131, 131, 131, 0.5);
  /* transition: all 0.3s ease-out; */
  border-radius: 8px;
  padding: 0.75rem 1.75rem;
  font-size: 18px;
  font-weight: normal;
  color: white;
  border: none;
}

.showcase-buttons button:hover {
  color: teal;
  background: white;
}

.showcase-buttons button:focus {
  color: teal;
  background: white;
  font-weight: bold;
}

.showcase-input input {
  position: absolute;
  background: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(59, 65, 68);
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  padding: 8px 64px 8px 16px;
  border: none;
}

#category {
  padding-top: 3.5rem;
}

.category-title h1 {
  text-align: center;
  font-size: 36px;
}

.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-items {
  padding: 0.75rem;
  margin: 0.75rem;
  text-align: center;
  flex: 1;
}

.category-items img {
  width: 100%;
  border-radius: 8px;
}

.category-items h2 {
  padding: 1rem 0 1rem 0;
}

.category-items button {
  cursor: pointer;
  background: teal;
  border-radius: 8px;
  padding: 0.75rem 1.75rem;
  margin: 1.25rem;
  font-size: 18px;
  font-weight: normal;
  color: white;
  border: none;
}

.category-items button:hover {
  background: #fff;
  color: teal;
  border: 1px solid teal;
}
